*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.facebook-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100px;
  background-color: #4267b2;
  color: white;
  font-size: 30px;
}

.right-buttons-navbar{
  display: flex;
  flex: 0.3;
}

.cart-button{
  padding: 10px;
  margin: 10px;
  width: 100%;
  background-color:transparent;
  border-radius: 20px;
  border: 2px solid goldenrod;
  cursor: pointer;  
  font-size: larger;
  box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.75);
}
.logout{
  padding: 10px;
  margin: 10px;
  width: 100%;
  background-color:#434343;
  color: white;
  border: none;
  cursor: pointer;
  font-size: bold;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.container{
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(219, 214, 214);
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background-color:transparent;
}

.form{
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 5px gray;
}

.form input{
  padding: 10px;
  margin:10px;
  width: 300px;
}
.checkout {
  background-color: #002346;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px black;
}

.checkout h1{
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.checkout button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout button:hover {
  background-color: #0056b3;
}

.loginBtn{
  padding: 10px;
  margin: 10px;
  background-color:#4267b2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: larger;
}
.createAccountContainer{
  display: flex;
  flex-direction: column;
  /* position: ; */
  width: 100%;
  left: 0;
  background-color:transparent;
  position: relative;
}
.createAccountBtn{  
  padding: 10px;
  margin: 10px auto;
  justify-content:center;
  align-items: center;
  width: 200px;
  background-color:#378a07;
  border-radius:5px ;
  color: white;
  border: none;
  cursor: pointer;
  font-size: larger;
}

.forgotPasswordBtn{
  background-color: transparent;
  padding: 10px;
  border: none;
  color: rgb(71, 19, 203);
  cursor: pointer;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0px 20px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; 
  height: auto; 
}

.navbar-items {
  flex: 1; 
  display: flex;
  margin-left: 100px;
}

.navbar-items ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-items li {
  margin: 0 10px;
  cursor: pointer;
  font-size: smaller;
}

/* Card.css */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 300px;
  margin: 16px;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.card-content button{
  background-color: #ce2600;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card-description {
  font-size: 1rem;
  margin-bottom: 16px;
}

.card-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #0056b3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
}
